@use "@mixins/display.scss" as display;

.cart {
  font-size: 1.5rem;
  padding-bottom: 4rem;

  @include display.desktop {
    max-width: 450px;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &__items {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__remove-button {
      background-color: var(--gray);
      border: none;
      cursor: pointer;
      font-size: 0.75rem;
      padding: 0.5rem;
      transition: background-color 250ms ease;
      width: 100%;

      &:hover {
        background-color: var(--dark-gray);
      }
    }
  }

  &__pay-button {
    bottom: 1rem;
    left: 1rem;
    position: fixed;
    width: calc(100% - 2rem);

    @include display.desktop {
      bottom: 2rem;
      left: 2rem;
      width: calc(100% - 4rem);
    }

    &__content {
      align-items: center;
      display: flex;
      justify-content: space-between;

      span:nth-child(2) {
        font-weight: 500;
      }
    }
  }
}
