@use "@mixins/display.scss" as display;

.button {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  transition: all 250ms ease;

  @include display.desktop {
    &:not(:disabled):hover {
      background-color: transparent;
      color: var(--black);
    }
  }

  &--fluid {
    width: 100%;
  }
}
