.menu {
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__navigation {
    margin-top: 2rem;

    &__items {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__item {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;

      a {
        display: block;
        transform-origin: left;
        transition: all 250ms ease;

        &:hover {
          font-weight: 500;
          transform: scale(1.2);
        }
      }

      .menu__navigation__items {
        display: none;
        padding-bottom: 0.25rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
      }

      &--collapsed {
        > .menu__navigation__items {
          display: block;
        }
      }
    }
  }
}
