@use "@mixins/display.scss" as display;

.drawer {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
  transition: transform 500ms ease;
  width: 100%;
  z-index: 1;

  @include display.desktop {
    min-width: 450px;
    padding: 1rem;
    transform: translate(100%, 0);
    width: auto;
  }

  &__content {
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    position: relative;

    @include display.desktop {
      border: 1px solid var(--gray-borders);
    }
  }

  &__close-button {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1;

    button {
      background-color: var(--gray);
      border: none;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      transition: background-color 250ms ease;

      &:hover {
        background-color: var(--dark-gray);
      }
    }

    @include display.desktop {
      right: 2rem;
      top: 2rem;
    }
  }

  &--open {
    transform: translate(0);
  }
}
