@use "@mixins/display.scss" as display;

.drawer {
  background-color: var(--gray);
  height: 100%;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(0, 100%);
  transition: transform 500ms ease;
  width: 100%;
  z-index: 1;

  @include display.desktop {
    background-color: transparent;
    min-width: 450px;
    transform: translate(100%, 0);
    width: auto;
  }

  &__content {
    background-color: white;
    border: 1px solid var(--gray-borders);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    position: relative;
  }

  &__close-button {
    position: fixed;
    right: 2rem;
    top: 2rem;
  }

  &--open {
    transform: translate(0);
  }
}
