@use "@mixins/skeleton.scss" as skeleton;

.product-card {
  background-color: var(--gray);

  &__image {
    aspect-ratio: 4 / 5;
    position: relative;
    z-index: 0;

    &::before {
      @include skeleton.animation();
      background-color: var(--dark-gray);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img {
      display: block;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }

  &__information {
    font-size: 0.75rem;
    padding: 1rem;
  }

  &__brand {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__name {
    margin-top: 0.25rem;
  }

  &__size {
    margin-top: 0.5rem;
  }

  &__price {
    font-weight: 500;
    margin-top: 0.75rem;
  }
}
