.categories-page {
  background: var(--white);
  margin: 1rem;
  padding: 1rem;
}

.categories-page__title {
  font-size: 2rem;
  font-weight: 500;
}

.categories-page__products {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}