@use "../mixins/display.scss" as display;

.category-page {
  background-color: var(--white);
  border: 1px solid var(--gray-borders);
  padding: 1rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;

    @include display.desktop {
      font-size: 2rem;
    }
  }

  &__products {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;

    @include display.desktop {
      gap: 3rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
