@use "../../mixins/display.scss" as display;

.floating-ctas {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-borders);
  bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  left: 1rem;
  padding: 1rem;
  position: fixed;
  width: calc(100% - 2rem);

  @include display.desktop {
    display: none;
  }

  button {
    background-color: var(--gray);
    border: 1px solid var(--gray-borders);
    padding: 0.25rem 0.75rem;
  }
}
