@use "./mixins/display.scss" as display;

:root {
  --black: #1a1818;
  --gray: #f3f3f3;
  --gray-borders: #efefef;
  --white: #ffffff;
}

body {
  background-color: var(--gray);
  color: var(--black);
  font-family: "Helvetica Neue", sans-serif;
}

main {
  margin: 6rem 1rem 1rem 1rem;

  @include display.desktop {
    margin: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
}
