@use "@mixins/display.scss" as display;

:root {
  --black: #1a1818;
  --gray: #f3f3f3;
  --dark-gray: #e1e1e1;
  --gray-borders: #efefef;
  --white: #ffffff;

  &:has([data-header-variant="transparent"]) {
    --header-background-color: transparent;
    --header-foreground-color: var(--white);
  }
}

body {
  color: var(--black);
  font-family: "Helvetica Neue", sans-serif;

  &.scroll-lock {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
}
