:root {
  --black: #1a1818;
  --gray: #e1e1e1;
  --white: #ffffff;
}

body {
  background: var(--gray);
  color: var(--black);
  font-family: 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}