@use "@mixins/display.scss" as display;

.category-page {
  padding: 6rem 1rem 0 1rem;

  @include display.desktop {
    padding: 6rem 2rem 0 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__products {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;

    @include display.desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
