@use "@mixins/display.scss" as display;

.category-page {
  padding: 6rem 1rem 0 1rem;

  @include display.desktop {
    padding: 6rem 2rem 0 2rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin-top: 1.5rem;

    @include display.desktop {
      grid-template-columns: repeat(12, 1fr);

      &__item {
        grid-column: span 3;
      }

      &__item:nth-child(7n + 5),
      &__item:nth-child(7n + 6),
      &__item:nth-child(7n + 7) {
        grid-column: span 4;
      }
    }
  }
}
