@use "@mixins/display.scss" as display;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @include display.desktop {
    padding: 1rem 2rem;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__ctas {
    display: flex;
    gap: 1rem;
    list-style: none;

    @include display.desktop {
      gap: 2rem;
    }
  }
}
