@use "@mixins/display.scss" as display;

.header {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-borders);
  display: flex;
  justify-content: center;
  left: 1rem;
  padding: 1rem;
  position: fixed;
  top: 0.5rem;
  width: calc(100% - 2rem);

  @include display.desktop {
    justify-content: flex-end;
    left: auto;
    margin: 1rem;
    position: static;
    top: auto;
    width: auto;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;

    @include display.desktop {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &__ctas {
    display: none;

    @include display.desktop {
      display: flex;
      gap: 2rem;
      list-style: none;
    }
  }
}
